@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: local("Poppins-Regular"), url("./fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Medium";
  src: local("Poppins-Medium"), url("./fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "bold";
  src: local("Poppins-Bold"), url("./fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "PixelifySans-bold";
  src:
    local("PixelifySans-Bold"),
    url("./fonts/Pixelify_Sans/PixelifySans-SemiBold.ttf");
}
@font-face {
  font-family: "Filano";
  src: local("filano"), url("./fonts/Filano/filano.ttf");
}

/* Pattern */

/* From Uiverse.io by sunn_2633 */
.cyber-pattern {
  width: 100%;
  height: 100%;
  background-color: #050505; /* Fond presque noir */
  /* C'est ici que la magie opère. On empile plusieurs couches : */
  background-image: 
    /* 1. La Vignette (Ombre sur les bords pour l'effet cinéma) */
    radial-gradient(circle at center, transparent 30%, #000 90%),
    /* 2. GRILLE PRINCIPALE (Cyan - Grande) - Lignes Verticales & Horizontales */
    linear-gradient(rgba(3, 233, 244, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(3, 233, 244, 0.1) 1px, transparent 1px),
    /* 3. GRILLE SECONDAIRE (Magenta - Petite) - Lignes Verticales & Horizontales */
    linear-gradient(rgba(217, 3, 244, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(217, 3, 244, 0.05) 1px, transparent 1px);

  /* On définit la taille des grilles */
  background-size:
    100% 100%,
    /* Vignette */ 60px 60px,
    /* Grande grille Cyan (60px) */ 60px 60px,
    20px 20px,
    /* Petite grille Magenta (20px) */ 20px 20px;
}

/* From Uiverse.io by Juanes200122 */
.liane-pattern {
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background-color: #ffffff;
  background-image: radial-gradient(rgba(12, 12, 12, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
}

/* Variables */
:root {
  --color3: #e9eced;
  --color4: #b1e1e9;
  --color5: #ffffff;
  --margin: 15px;
  --height-nav: 60px;
  --background: rgba(red, blue, black);
}

body {
  background: var(--background);
  scroll-behavior: smooth;
}

/* Botones Globales */
.btn-go {
  height: min-content;
  padding: 5px 5px;
  background-color: #4e8750;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-go:hover {
  background-color: #2cbf19;
}

.btn-go:active {
  background-color: #425142;
}

.black-blur {
  background: rgba(19, 19, 19, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
